@section Scripts{
    <script src="~/dist/ClientApp/runtime-es5.js" asp-append-version="true"></script>
    <script src="~/dist/ClientApp/styles-es5.js" asp-append-version="true"></script>
    <script src="~/dist/ClientApp/polyfills-es5.js" asp-append-version="true"></script>
    <script src="~/dist/ClientApp/vendor-es5.js" asp-append-version="true"></script>
    <script src="~/dist/ClientApp/main-es5.js" asp-append-version="true"></script>
}


<div class="p-1">
    <app-root></app-root>
</div>